{% extends "base.html" %}
{% block title %}{{project}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="project-content">

  <div class="project-title">
    <h3>Carib Brewery - Intern - May 2022 to August 2022</h3>
  </div>
  
  <div class="project-hero">
    <img src="{{url_for('static', filename='carib-interns.JPG')}}"><figcaption>Carib 2022 Interns: Me, Matthew Laquis, Jessica Singh, Analee Sampath, Raydon Baboolal</figcaption></img>
</div>

  
  <p>
    In 2022, I was fortunate enough to land an internship at Carib Brewery. Carib Brewery has a highly diverse and engaging culture with so many opportunities to learn both in and outside my field.
  </p>
  <p>
    Here, I lead a Recipe Repository project which centralized all product recipes and tracked their changes over time. This allowed head brewers to gain insight into how recipes evolve. It also facilitated QA across the 3 breweries as differences in recipes in each brewery could be observed.
  </p>
  
  <h4>
    Tech used
  </h4>
  <ul>
    <li>Power Apps - for collecting recipe data</li>
    <li>Sharepoint - for storing recipe data and versions</li>
    <li>Power BI - created 3 reports to make it easy to compare recipes</li>
  </ul>
  
  <h4>
    Side Quests
  </h4>
  <ul>
    <li>Contributed to digitising the taste evaluation process.</li>
    <li>Writing SOP's - I had a lot of fun walking around the campus and interviewing technicians.</li>
  </ul>

  <h4>
    Key Takeaways
  </h4>
  <ul>
    <li>My interactions with cross functional and interdepartmental teams for this internship were highly rewarding.</li>
  </ul>
</div>
{% endblock %}