{% extends "base.html" %}
{% block title %}{{project}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="project-content">

  <div class="project-title">
    <h3>Intelligent Applications - Intern - June 2021 to August 2021</h3>
  </div>
  
  <!-- <div class="project-hero">
    <img src="{{url_for('static', filename='carib-interns.JPG')}}"><figcaption>Carib 2022 Interns: Me, Matthew Laquis, Jessica Singh, Analee Sampath, Raydon Baboolal</figcaption></img>
</div> -->

  
  <p>
    In 2021, after my first year at UWI I started an internship at Intelligent Applications.
  </p>
  <p>
    Here, I got my first real exposure to production level code and the use of agile and scrum to collaborate effectively. 
  </p>

  <h4>My Contributions</h4>
  <p>
    I got an introduction to .NET Core by conducting testing on a back end application. I also worked on tickets which involved writing TypeScript in a front end Angular application. Finally, I used JavaScript and the google maps API to get a cost matrix of distances.
  </p>
  
  <h4>
    Tech used
  </h4>
  <ul>
    <li>.NET</li>
    <li>TypeScript</li>
  </ul>
  
  <h4>
    Side Quests
  </h4>
  <ul>
    <li>Tested the front end of the application and uncovered some pecularities in the results.</li>
  </ul>

  <h4>
    Key Takeaways
  </h4>
  <ul>
    <li>First introduction to production ready code.</li>
    <li>First introduction to Agile.</li>
  </ul>
</div>
{% endblock %}