{% extends "base.html" %}
{% block title %}{{project}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="project-content">

  <div class="project-title">
    <h3>SpotStats</h3>
    <p>Personal Project</p>
    <p>2021</p>
  </div>
  
  <!-- <div class="project-hero">
    <img src="{{url_for('static', filename='foliagefixer-ui.png')}}"><figcaption>App Screenshots</figcaption></img>
</div> -->
  
  <p>
    <a href="https://spotstats-c95dd.web.app">SpotStats</a>
  </p>

  <p>
    <a href="https://github.com/vedkm/INFO-1601-Project">Github Repo</a>
  </p>

<h4>
  Project Overview
</h4>
  <p>
    Gain insight into your spotify listening habits. Includes charts showing your library in new light such as: genre composition, decade composition and music discovery over time. Also generates a playlist of your top 50 songs.
  </p>
  
  <h4>
    Tech used
  </h4>
  <ul>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Charts.JS</lI>
  </ul>

  <!-- <h4>
    Key Takeaways
  </h4>
  <ul>
    <li>My interactions with cross functional and interdepartmental teams for this internship were highly rewarding.</li>
  </ul> -->
</div>
{% endblock %}